@mixin font-nav-footer {
  font: {
    family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    size: 1rem;
    weight: bold;
  }
}
@mixin font-contacts {
  font: {
    family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    weight: bold;
    size: medium;
  }
}
@mixin font-paragraph {
  font: {
    family: "Montserrat";
    size: 20px;
    weight: 400;
  }
  text-align: justify;
  line-height: 1.5;
}
@mixin comun-title {
  color: $info;
  font-family: "AbrilFatface";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 30px;
}
@mixin main-background {
  background-color: black;
  width: 100%;
  padding: 30px;
}
