$color-footer: rgba(25, 122, 207, 0.5);

$color-navbar: rgba(160, 59, 240, 0.7);

$color-bg-news : #3d0a91;
$color-bg-news-hover: #8c68cd;

$primary: #40c4ff;
$info: rgba(68, 0, 255, 0.767);

$table-color: rgb(161, 37, 232);

