$color-footer: #0d6efd;

$color-navbar: rgb(160, 59, 240);

$color-bg-news : #3d0a91;
$color-bg-news-hover: #8c68cd;

$primary: #40c4ff;
$info: rgba(68, 0, 255, 0.767);

$table-color: rgb(161, 37, 232);

