$color-footer: linear-gradient(
  0deg,
  rgba(131, 58, 180, 1) 24%,
  rgba(66, 29, 253, 1) 81%,
  #35bdd490 98%
);

$color-navbar: linear-gradient(
  180deg,
  rgba(131, 58, 180, 1) 28%,
  rgba(66, 29, 253, 1) 83%,
  rgba(0, 0, 0, 1) 100%
);

$primary: #40c4ff;
$info: rgba(68, 0, 255, 0.767);

$table-color: rgb(153, 0, 255);

