.main_footer {
  background: $color-footer;
  @include font-nav-footer;
  padding-top: 10px;
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 50px auto 500px;
    justify-content: space-between;
  }
}
.main_footer_nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    gap: 0 140px;
  }
}
