.nav {
  &_style {
    background: $color-navbar;
    @include font-nav-footer;
    @media (min-width: 992px) {
      position: fixed;
    }
  }
  &-link {
    color: white;
    &:hover {
      color: black;
    }
  }
}
.dropdown {
  &-menu {
    background-color: blueviolet;
    --bs-dropdown-min-width: 0;
    margin: 0 50px;
  }
  &-item {
    color: white;
    font-weight: bold;
    &:hover {
      background-color: blueviolet;
      color: black;
    }
  }
}
