.main_contacts {
  background-color: #000000;
  color: $primary;
  @include font-contacts;
  display: flex;
  flex-direction: column;
  @media (min-width: 992px) {
    display: grid;
    grid-template-areas:
      "title3 title3"
      "form1 paragraph2";
    grid-template-rows: 0fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding: 20px 10px;
  }
}
.contacts_form {
  padding: 20px;
  @media (min-width: 992px) {
    grid-area: form1;
    justify-self: center;
    padding: 0;
  }
}
.contacts_paragraph {
  display: flex;
  flex-direction: column;
  padding: 20px;
  @media (min-width: 992px) {
    grid-area: paragraph2;
    align-self: stretch;
    justify-content: space-evenly;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .label_style {
    padding-right: 10px;
  }
}
