.main_events {
  @include main-background;
}
.main_table {
  color: white;
  border-collapse: collapse;
  border: double 5px $table-color;
  font-family: "Monserrat", sans-serif;
  font-size: 25px;
  text-align: justify;
  margin: 0 auto;
  th, td {
    border: double 2px $table-color;
    padding: 20px;
    text-align: center;
  }
  th {
    font-family: "HarryPotter";
    font-size: 50px;
  }
  @media (max-width: 480px){
    width: 100%;
    border: none;
    .table_header {
      display: none;
    }
    tr {
      display: flex;
      flex-direction: column;
      border: 1px solid $table-color;
      margin-bottom: 20px;
      padding: 20px;
    }
    td {
      font-size: 20px;
      border: none;
      &[data-titulo] {
        display: flex;
        &::before {
          content: attr(data-titulo);
          width: 130px;
        }
      }
    }
  }
}
