.main_history {
  color: $primary;
  @include main-background;
  height: 100%;
  @media (min-width: 992px) {
    padding-top: 110px;
  }
  &-paragraph {
    @include font-paragraph;
    @media (min-width: 992px) {
      margin: 20px 60px;
    }
  }
}
.img {
  &_history1 {
    text-align: center;
    padding: 30px;
    width: 95%;
    @media (min-width: 992px) {
      width: 80%;
      padding-left: 190px;
      margin-left: 70px;
    }
  }
  &_history2 {
    @extend .img_history1;
    @media (min-width: 992px) {
      width: 95%;
      padding: 10px;
      margin: 20px;
    }
  }
}
