.main_history {
  color: $primary;
  @include main-background;
  height: 100%;
  @media (min-width: 992px) {
    padding-top: 110px;
  }
  &-paragraph {
    @include font-paragraph;
    @media (min-width: 992px) {
      margin: 20px 100px;
    }
  }
}
.img_history {
  text-align: center;
  padding: 20px;
  img {
    width: 95%;
  }
  @media (min-width: 992px) {
    width: 70%;
    padding-left: 400px;
  }
}
