// Inicio Estilos Index
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  @media (min-width: 992px) {
    bottom: 40px;
    right: 40px;
  }
}
.main_principal {
  background-color: #000000;
  color: rgba(68, 0, 255, 0.911);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  @media (min-width: 992px) {
    height: 100vh;
  }
}
.main_principal_container {
  padding: 0 15px;
  @media (min-width: 992px) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    margin-top: -110px;
  }
}
.main_principal_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  @media (min-width: 992px) {
    overflow: hidden;
    margin-top: 40px;
    margin-right: 20px;
    text-align: center;
  }
}
.main_principal_wrapper-title {
  @include font-principaltitle;
  @media (min-width: 992px) {
    font-size: 110px;
  }
}
.main_principal_img {
  img {
    width: 100%;
    height: auto;
  }
  @media (min-width: 992px) {
    margin-top: 100px;
    justify-self: center;
  }
}
// Fin Estilos Index

// Inicio Estilos "Nosotros"
.us {
  background-color: #3297a890;
  padding: 20px 15px;
  @media (min-width: 992px) {
    display: grid;
    grid-template-areas:
      "title1 title1"
      "paragraph paragraph"
      "img1 img2";
    grid-template-rows: 0fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 30px 40px;
  }
}
.us_title {
  font-family: "Cabin";
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  @media (min-width: 992px) {
    grid-area: title1;
    font-size: 48px;
  }
}
.us_paragraph {
  @include font-paragraph;
  @media (min-width: 992px) {
    grid-area: paragraph;
    font-size: 35px;
    padding: 0 85px;
  }
}
.img1 {
  img {
    width: 95%;
    padding: 10px 0px;
  }
  @media (min-width: 992px) {
    grid-area: img1;
    justify-self: center;
  }
}
.img2 {
  img {
    width: 95%;
    padding: 10px 0px;
  }
  @media (min-width: 992px) {
    grid-area: img2;
    justify-self: center;
  }
}
// Fin Estilos "Nosotros"

// Inicio Estilos "Noticias"
.news {
  background-color: #35bdd490;
  padding: 15px 5px 15px 20px;
  @media (min-width: 992px) {
    display: grid;
    grid-template-areas:
      "title2 title2"
      "news1 news2"
      "news3 news4"
      "news5 news6";
    grid-template-rows: 0fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 30px 40px;
    justify-items: center;
    div:hover {
      transform: scale(1.1);
      background-color: aquamarine;
      border-radius: 30px;
    }
    &__1 {
      grid-area: news1;
    }
    &__2 {
      grid-area: news2;
    }
    &__3 {
      grid-area: news3;
    }
    &__4 {
      grid-area: news4;
    }
    &__5 {
      grid-area: news5;
    }
    &__6 {
      grid-area: news6;
    }
  }
}
.news_title {
  @extend .us_title;
  @media (min-width: 992px) {
    grid-area: title2;
    font-size: 48px;
  }
}
.news_header {
  @include header-news;
  @media (min-width: 992px) {
    padding: 10px;
  }
}
.img_news {
  width: 95%;
  @media (min-width: 992px) {
    width: 100vh;
  }
}
// Fin Estilos "Noticias"
